body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: gainsboro;
}
#questionsBox{
    background-color: aquamarine;
}
#rightAnswers{
    background-color: lightgreen;
}
#wrongAnswers{
    background-color: lightcoral;
}
