body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: gainsboro;
}
#upperBar{
    margin-block-end: 15em;
    margin-left: 15em;
    margin-right: 15em;
    margin-block-start: 15em;
    background-color: aquamarine;
    width: 50em;
    height: 30em;
    text-align: center;
}